* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    background-color: rgb(52, 30, 74);
}
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10%;
    height: 370px;
    width: 330px;
}
form {
    margin-top: 20px;
}
select, button {
    width: 100%;
    border: none;
    outline: none;
}
form input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 1.4px solid black;
    border-radius: 20px;
}
.dropdown {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
i{
    margin-top: 50px;
}
.msg {
    margin-top: 40px;
}
button {
    margin-top: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(209, 68, 68);
    color: #fff;
}
button:hover {
    background-color: rgb(135, 54, 54);
    color: #fff;
}